<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shafin's Web Interface</title>
</head>
<body>
    <div class="container">
        <h1>Shafin's Web Interface</h1>
        <button onclick="startStream()">Start Stream</button>
        <button onclick="stopStream()">Stop Stream</button>
        <button onclick="checkStatus()">Check Status</button>
        <p id="status">Status: Unknown</p>
        <audio id="audioPlayer" controls>
            <source src="/audio" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </div>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>